<template>
  <div id="root">
    <v-ons-back-button @click.prevent="back">{{innerText}}</v-ons-back-button>
  </div>
</template>

<script>
  export default {
    name: 'Back_button',
    data() {
      return {
        innerText: this.text ? this.text : 'Back'
      }
    },
    props: ['text'],
    // components: {
    // },
    // created() {
    // },
    methods: {
      back: function(e) {
        this.$router.go(-1)
      }
    }
  }
</script>

<style lang="scss" scoped>
  #root {
  }
</style>
