<template>
  <div id="root">
    <input-date />
  </div>
</template>

<script>
  import inputDate from './input_date'

  export default {
    name: 'test',
    data() {
      return {
        list: ['ヤクルト', 'お茶', '水', '点滴', 'ポカリ']
      }
    },
    components: {
      'input-date': inputDate
    },
    // created() {
    // },
    methods: {
      checkState() {
        console.log(this.$store.state.resident)
      }
    }
  }
</script>

<style lang="scss" scoped>
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;

    .list-select {
    }
  }
</style>
