<template>
  <div id="root">
    <v-ons-button class="confirm btn">
      <router-link class="link btn-text" to="/confirmation">{{confirmBtnText}}</router-link>
    </v-ons-button>
  </div>
</template>

<script>
  export default {
    name: 'ConfirmButton',
    data() {
      return {
        confirmBtnText: this.btnText ? this.btnText : '確認'
      }
    },
    computed: {
      focusInputType() {
        return this.$store.state.focusInputType
      }
    },
    props: ['btnText'],
    methods: {
    }
  }
</script>

<style lang="scss" scoped>
  .btn {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
</style>
