<template>
  <div id="root">
    <v-ons-speed-dial
      position="bottom right"
      direction="up"
      ripple="true"
      :open.sync="spdOpen"
    >
      <v-ons-fab>
        <v-ons-icon v-if="!spdOpen" icon="cog"></v-ons-icon>
        <v-ons-icon v-else icon="times"></v-ons-icon>
      </v-ons-fab>

      <v-ons-speed-dial-item :class="item.name" modifier="material" ripple="true" v-for="item in spdItems" :key="item.name">
        <v-ons-icon :icon="item.icon" v-on:click="spdItemsFunc(item.name)"></v-ons-icon>
      </v-ons-speed-dial-item>

    </v-ons-speed-dial>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'fab',
    data() {
      return {
        spdOpen: false,
        spdItems: [{
          icon: 'send',
          name: 'sendFailedData'
        },{
          icon: 'wifi',
          name: 'setIP'
        }]
      }
    },
    components: {
    },
    created() {
    },
    methods: {
      spdItemsFunc(type) {
        if(type === "setIP") this.setIP()
        else this.sendFailedData()
      },
      setIP() {
        this.$router.push('/set-ip')
      },
      sendFailedData(){
        let failedData = JSON.parse(window.localStorage.getItem('post_failed_data'))
        this.retryPost(failedData)
        .then(() => {
          window.localStorage.removeItem('post_failed_data')
        })
      },
      ...mapActions([
        'retryPost'
      ])
    }
  }
</script>

<style lang="scss" scoped>
div#root {
}
</style>
