<template>
  <v-ons-toolbar class="header">
    <back-button class="left back"></back-button>
    <div class="center">
      <div class="name">{{resident.name}}</div>
      <div>{{fullday}}</div>
    </div>
  </v-ons-toolbar>
</template>

<script>
  // import my components
  import BackButton from './back_button'

  let date = new Date()
  let weekdays = ['日', '月', '火', '水', '木', '金', '土']
  let year = date.getFullYear()
  let month = date.getMonth()
  let day = date.getDate()
  let week = date.getDay()

  export default {
    name: 'Header',
    data() {
      return {
        fullday: `${year}年 ${month+1}月 ${day}日 ${weekdays[week]}曜日`
      }
    },
    // computed: {
    // },
    components: {
      'back-button': BackButton
    },
    created() {
      console.log(date.getMonth())
    },
    // methods: {
    // }
  }
</script>

<style scoped>
  .header {
    position: fixed;
    padding: 0;
    margin: 0 0 7vh 0;
    height: 15vh;
    max-height: 150px;
    width: 100vw;
    background-color: #fdfdfd;

    .back {
      height: 40%;
      width: 10%;
    }

    div.name {
      margin-top: 0;
    }
  }
</style>
