<template>
  <form id="root">
    <div id="date-form">
      <v-ons-select id="select-year" class="year select" v-model="year" v-on:change="generateDates(); updateCreated_at()">
        <option v-for="year in years">{{year}}</option>
      </v-ons-select>
      <v-ons-select id="select-month" class="month select" v-model="month" v-on:change="generateDates(); updateCreated_at()">
        <option v-for="month in months">{{month}}</option>
      </v-ons-select>
      <v-ons-select id="select-date" class="date select" v-model="date" v-on:change="updateCreated_at">
        <option v-for="date in dates">{{date}}</option>
      </v-ons-select>
    </div>
    <div id="time-form">
      <v-ons-select class="select" v-model="hour" v-on:change="updateCreated_at">
        <option v-for="hour in hours">{{hour}}</option>
      </v-ons-select>
      <v-ons-select class="select" v-model="minute" v-on:change="updateCreated_at">
        <option v-for="minute in minutes">{{minute}}</option>
      </v-ons-select>
    </div>
  </form>
</template>

<script>
  import moment from 'moment'
  import { mapMutations, mapState } from 'vuex'

  export default {
    name: 'InputDate',
    data() {
      return {
        currentYear: null,
        years: [],
        months: [],
        dates: [],
        hours: [],
        minutes: [],
        year: null,
        month: null,
        date: null,
        hour: null,
        minute: null
      }
    },
    computed: {
      ...mapState([
        "isNewData",
        "postData"
      ])
    },
    created() {
      if(this.isNewData) {
        this.setCreateDate({ created_at: moment().format() })
        this.getTodaysDate()
        this.getCurrentTime()
      } else {
        let created_at = this.postData.created_at
        this.year = moment(created_at).format('YYYY')
        this.currentYear = moment().format('YYYY')
        this.month = moment(created_at).format('M')
        this.date = moment(created_at).format('D')
        this.hour = moment(created_at).format('H')
        this.minute = moment(created_at).format('m')
      }
      this.generateOptions()
      this.generateDates()
    },
    methods: {
      ...mapMutations ([
        'setCreateDate'
      ]),
      getTodaysDate() {
        this.year = this.currentYear = moment().format('YYYY')
        this.month = moment().format('M')
        this.date = moment().format('D')
      },
      getCurrentTime() {
        this.hour = moment().format('H')
        this.minute = moment().format('m')
      },
      generateOptions() {
        // 今年を含めた過去10年の西暦を含む配列を生成
        for (let i=0; i<10; i++) this.years.unshift(this.currentYear - i)
        // 1~12を含む連番の配列
        for (let i=1; i<=12; i++) this.months.push(i)
        // 1~24を含む連番の配列
        for (let i=0; i<24; i++) this.hours.push(i)
        // 1~59を含む連番の配列
        for (let i=0; i<60; i++) this.minutes.push(i)
      },
      generateDates() {
        // 日の配列を生成
        this.dates = []
        if (![2, 4, 6, 9, 11].includes(parseInt(this.month))) {   // 31日まで
          for (let i=1; i<=31; i++) this.dates.push(i)
        } else if (parseInt(this.month) !== 2) {                  // 30日まで
          for (let i=1; i<=30; i++) this.dates.push(i)
          if(parseInt(this.date) === 31) this.date = 30
        } else {                                                  // 2月の場合
          for (let i=1; i<=28; i++) this.dates.push(i)
          if (this.year % 4 === 0 && this.year % 100 !== 0 || this.year % 400 === 0) this.dates.push(29)
          if (parseInt(this.date) > 28) this.date = this.dates[this.dates.length - 1]
        }
      },
      updateCreated_at() {
        let month = this.digitAdjustment(this.month)
        let date = this.digitAdjustment(this.date)
        let hour = this.digitAdjustment(this.hour)
        let minute = this.digitAdjustment(this.minute)
        let dateSentence = `${this.year}${month}${date}${hour}${minute}`
        let created_at = moment(dateSentence, 'YYYYMMDDhmm').format()
        this.setCreateDate({created_at: created_at})
      },
      digitAdjustment(num) {
        num = String(num)
        if(num.length === 1) {
          num = '0' + num
          return num
        }
        return num
      }
    }
  }
</script>

<style lang="scss" scoped>
  form#root {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 8px 0;
    width: 100%;

    div#date-form, div#time-form {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 50%;
      min-width: 240px;

      .select{
        flex: 1 1 40px;
        padding: 0;
        margin: 0 8px;
        height: 5vh;
      }
    }

    div#time-form {
      width: 30%;
      justify-content: space-around;

      .select{
        margin: 0 24px;
      }
    }
  }
</style>

<style lang="scss">
  div#date-form, div#time-form{
    .select {
      select {
        height: 100%;
        width: 100%;
        font-size: 3vh;
      }
    }
  }
</style>
