<template>
  <div id="root">
    <v-ons-input class="input" v-model="oct0" /><span class="dot">.</span>
    <v-ons-input class="input" v-model="oct1" /><span class="dot">.</span>
    <v-ons-input class="input" v-model="oct2" /><span class="dot">.</span>
    <v-ons-input class="input" v-model="oct3" />
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'IPAddressInput',
    data() {
      return {
      }
    },
    props: ['placeholder'],
    computed: {
      oct0: {
        get() {
          return this.getIPOct()(0)
        },
        set(num) {
          let array = this.getIPArray()()
          array[0] = num
          this.saveHOST(array.join('.'))
        }
      },
      oct1: {
        get() {
          return this.getIPOct()(1)
        },
        set(num) {
          let array = this.getIPArray()()
          array[1] = num
          this.saveHOST(array.join('.'))
        }
      },
      oct2: {
        get() {
          return this.getIPOct()(2)
        },
        set(num) {
          let array = this.getIPArray()()
          array[2] = num
          this.saveHOST(array.join('.'))
        }
      },
      oct3: {
        get() {
          return this.getIPOct()(3)
        },
        set(num) {
          let array = this.getIPArray()()
          array[3] = num
          this.saveHOST(array.join('.'))
        }
      },
    },
    components: {
    },
    created() {
    },
    methods: {
      ...mapGetters ([
        'getIPArray',
        'getIPOct'
      ]),
      ...mapActions ([
        'saveHOST'
      ])
    }
  }
</script>

<style lang="scss" scoped>
  div#root {
    display: flex;

    .input {
      flex-grow: 1;
      width: 20%;
      border: solid 1px;
    }

    .dot {
      margin: 0 5px;
      vertical-align: bottom;
    }
  }
</style>
