<template>
  <div id="root">
    <ul>
      <li v-for="item in items" :key="item">
        <v-ons-button class="btn" :class="[isSelected(item) ? 'is-active' : '', bgColorSet(item)]" v-on:click="selectedItem = item">
          <div class="btn-text">{{item}}</div>
        </v-ons-button>
      </li>
    </ul>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    name: 'ListSelect',
    data() {
      return {
        items: this.list ? this.list : []
      }
    },
    computed: {
      dataProp() {
        return this.$store.state.listSelectProp[this.type]
      },
      selectedItem: {
        get() {
          return this.$store.getters.getSelectedValue(this.dataProp)
        },
        set(value) {
          if(value) {
            this.overwrite({
              prop: this.dataProp,
              value: value
            })
          }
        }
      }
    },
    props: ['list', 'type', 'colorCodes'],
    methods: {
      ...mapMutations({
        overwrite: 'overwriteValue'
      }),
      bgColorSet(color) {
        if (typeof this.colorCodes !== 'undefined') {
          let selectedColor = this.colorCodes.filter(colorCode => colorCode.key === color)
          return selectedColor[0].color
        } else {
          return 'none'
        }
      },
      isSelected(item) {
        return this.selectedItem === item
      }
    }
  }
</script>

<style lang="scss" scoped>
  #root {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      min-width: 60vw;
      list-style: none;

      li {
        flex: 0 1 calc(50% - 16px);
        margin: 8px;

        .btn{
          width: 100%;
          margin: 0;
        }

        .light-yellow {
          background-color: #eee8aa
        }

        .yellowish-brown {
          background-color: #f4a460
        }

        .chestnut {
          background-color: #8b4513
        }

        .brown {
          background-color: #800000
        }

        .grey {
          background-color: #696969
        }

        .black {
          background-color: #111
        }
      }
    }
  }
</style>
