<template>
  <form id="root">
    <label for="number-input">{{inputLabel}}</label>
    <ul>
      <li v-for="param of range">
        <v-ons-button class="btn" v-on:click="increment(param)">+{{param}}</v-ons-button>
      </li>
    </ul>
    <v-ons-input input-id="number-input" class="input" v-model="value" type="number" :placeholder="holderText" :max="max" :min="min" :step="inputStep"></v-ons-input>
    <ul>
      <li v-for="param of range">
        <v-ons-button class="btn" v-on:click="decrement(param)">-{{param}}</v-ons-button>
      </li>
    </ul>
  </form>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    name: 'numberInput',
    data() {
      return {
        holderText: this.placeholder ? this.placeholder : '数値入力',
        range: [],
        modificationParam: 1,
        digit: 0,
        inputStep: this.step ? this.step : String(this.min) === '0' ? 1 : this.getDigit(this.min)
      }
    },
    computed: {
      dataProp() {
        return this.$store.state.numberInputProp[this.type]
      },
      inputLabel() {
        return this.label ? this.label : ''
      },
      value: {
        get() {
          return this.$store.getters.getNumberValue(this.dataProp)
        },
        set(value) {
          if (!value) {
            this.overwrite({
              prop: this.dataProp,
              value: 0
            })
          } else {
            this.overwrite({
              prop: this.dataProp,
              value: parseInt(value)
            })
          }
        }
      }
    },
    // components: {
    // },
    props: ['placeholder', 'initialValue', 'label', 'max', 'min', 'step', 'type'],
    created() {
      this.digit = this.getDigit(this.max - 1)
      this.range = this.getRange(this.max ? this.max - 1 : 100, this.min ? this.min : 0)
      this.modificationParam = this.getModificationParam(this.range[0])
      this.$store.commit('overwriteValue', {
        prop: this.$store.state.numberInputProp[this.type],
        value: this.initialValue ? parseInt(this.initialValue) : parseInt(this.min)
      })
    },
    methods: {
      increment: function(param = 1) {
        if(this.value === this.max){
          this.overwrite({
            prop: this.dataProp,
            value: this.min
          })
        } else {
          let value = (this.errorModification(this.value, this.modificationParam) + this.errorModification(param, this.modificationParam)) / this.modificationParam
          this.overwrite({
            prop: this.dataProp,
            value: value
          })
          if (this.value >= this.max) {
            this.overwrite({
              prop: this.dataProp,
              value: this.max
            })
          }
        }
      },
      decrement: function(param = 1) {
        if(this.value === this.min){
          this.overwrite({
            prop: this.dataProp,
            value: this.max
          })
        } else {
          let value = (this.errorModification(this.value, this.modificationParam) - this.errorModification(param, this.modificationParam)) / this.modificationParam
          this.overwrite({
            prop: this.dataProp,
            value: value
          })
          if (this.value <= this.min) {
            this.overwrite({
              prop: this.dataProp,
              value: this.min
            })
          }
        }
      },
      // 小数点計算の誤差修正関数
      errorModification: function(value, digit = 1000) {
        return Math.round(value * digit)
      },
      // 入力値の最大桁(小数の場合は最低桁)を1にした数値に変換
      getDigit: function(val) {
        let strVal = String(val)
        let valLength = strVal.length
        return strVal.match(/\./) ? Math.pow(10, (valLength - 2) * -1) : Math.pow(10, valLength - 1)
      },
      // maxとminをもとに10倍に区切った配列を生成
      getRange: function(max, min) {
        max = this.getDigit(max)
        min = String(min) === '0' ? 1 : this.getDigit(min)
        let range = [max]
        while (max > min) {
          max = max / 10
          range.unshift(max)
        }
        range[0] = this.inputStep

        return range
      },
      // 小数点計算誤差修正用パラメータ
      getModificationParam: function(min) {
        min = String(min)
        let index = min.indexOf('.')
        if (index != -1){
          return Math.pow(10, min.length - index)
        } else {
          return 1
        }
      },
      ...mapMutations({
        overwrite: 'overwriteValue'
      })
    }
  }
</script>

<style lang="scss" scoped>
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 60vw;

    label {
      display: inline-block;
      width: 100%;
      font-size: 3vh;
      text-align: left;
    }

    .input {
      border: solid 1px black;
      padding: 0;
      margin: 8px 0;
      height: 7vh;
      width: 100%;
    }

    ul {
      display: flex;
      flex-flow: row-reverse wrap;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      width: 100%;
      list-style: none;

      li {
        flex: 1 1 calc(25% - 16px);
        padding: 0;
        margin: 8px;
        height: 7vh;

        .btn {
          padding: 0;
          margin: 0;
          height: 100%;
          width: 100%;
          font-size: 3vmin;
          text-align: center;
        }
      }
    }
  }
</style>

<style lang="scss">
#root {
  .input {
    #number-input {
      height: 100%;
      width: 100%;
      font-size: 7vh;
      text-align: center;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
</style>
