<template>
  <div id="root">
    <v-ons-button class="send btn" v-on:click="postInputedData">
      <span class="btn-text">{{sendBtnText}}</span>
    </v-ons-button>
  </div>
</template>

<script>
  export default {
    name: 'SendButton',
    data() {
      return {
        sendBtnText: this.btnText ? this.btnText : '確定'
      }
    },
    computed: {
      focusInputType() {
        return this.$store.state.focusInputType
      }
    },
    props: ['btnText'],
    methods: {
      postInputedData: function() {
        this.$store.dispatch('dataSend', this.focusInputType)
        .then(() => {
          this.$router.push('/')
        })
        .catch(() => {
          console.log('error')
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .btn {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
</style>
