$btn-bg-color: grey;
$active-color: cyan;

article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 20vh 10% 0;
  height: 80vh;
}

article.input-page {
  justify-content: space-between;
}

.btn {
  padding: 0;
  margin: 8px 0;
  height: 5vh;
  min-height: 16px;
  background-color: $btn-bg-color;

  .btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 3vh;
  }
}

.link {
  color: white;
  text-decoration: none;
}

.is-active {
  background-color: $active-color !important;
}

.no-scroll {
  overflow: hidden;
}
