<template>
  <div id="root">
    <router-view></router-view>
  </div>
</template>

<script type="text/javascript">
  export default {
    name: 'App'
    // data() {
    // },
    // components: {
    // },
    // created() {
    // },
    // methods: {
    // }
  }
</script>

<style scoped>
  div#root {
    padding: 0;
    margin: 0;
  }
</style>
