<template>
  <div id="root">
    <common-header></common-header>

    <article>
      <date-input />
      <section v-if="!isNewData">
        <div class="section-title">修正前データ</div>
        <ul>
          <li v-for="(item, key) in savedData">
            <div class="key">{{itemDic[inputType][key]}}:</div>
            <div class="value">{{item}}</div>
          </li>
        </ul>
      </section>
      <section>
        <div class="section-title" v-if="isNewData">入力データ</div>
        <div class="section-title" v-else>修正データ</div>
        <ul>
          <li v-for="(item, key) in postData">
            <div class="key">{{itemDic[inputType][key]}}:</div>
            <div class="value">{{item}}</div>
          </li>
        </ul>
      </section>
      <ul class="bottom-btn">
        <li>
          <send-button class="btn"></send-button>
        </li>
      </ul>
    </article>
  </div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  import CommonHeader from '../components/header.vue'
  import SendButton from '../components/send_button.vue'
  import InputDate from '../components/input_date.vue'

  export default {
    name: 'Confirmation',
    data() {
      return {
        itemDic: {
          BloodPressure: {
            top: '上血圧',
            bottom: '下血圧'
          },
          BodyTemperature: {
            temperature: '体温'
          },
          Meal: {
            staple_food: '主食',
            side_dish: '副食'
          },
          Hydrate: {
            kind: '飲み物',
            intake: '摂取量'
          },
          Defecation: {
            volume: '大きさ',
            color: '色',
            form: '形'
          },
          Dosage: {
            kind: '薬の種類',
            dose: '投薬量'
          },
          Urinate: {
            volume: '排尿量'
          }
        }
      }
    },
    computed: {
      ...mapState({
        inputType: state => state.focusInputType,
      }),
      ...mapState([
        "isNewData"
      ]),
      ...mapGetters({
        postData: 'filteringPostData',
        savedData: 'filteringSavedData'
      })
    },
    components: {
      'common-header': CommonHeader,
      'send-button': SendButton,
      'date-input': InputDate
    }
  }
</script>

<style lang="scss" scoped>
  div#root {
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      section {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        margin: 8px 0;
        width: 90%;
        max-height: 80%;
        background-color: #D5D7DB;

        div.section-title {
          margin: 10px 0 0 10px;
          font-size: 24px;
          font-weight: bold;
        }

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          list-style: none;

          li {
            display: block;
            width: 70%;
            text-align: left;
            overflow: visible;

            .key {
              font-size: 2vh;
            }

            .value {
              font-size: 3vh;
              margin-left: 6%;
            }
          }
        }
      }

      ul.bottom-btn {
        display:flex;
        justify-content: flex-end;
        padding: 0;
        margin: 30px 0;
        height: 7vmax;
        width: 100%;
        list-style: none;

        li {
          flex: 0 0 calc(25% - 16px);
          padding: 0;
          margin: 0 8px;
          height: 100%;

          .btn {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
</style>
