<template>
  <div id="root defecation-root">
    <common-header />

    <article class="input-page">
      <form class="defecation-form">
        <label>排便量</label>
        <list-select :list="sizes" type="defecationSize"></list-select>
        <label>排便の色</label>
        <list-select :list="colors" type="defecationColor" class="defecation-color" :colorCodes="colorCodes"></list-select>
        <label>排便の形</label>
        <list-select :list="forms" type="defecationForm"></list-select>
      </form>
      <ul class="bottom-btn">
        <li>
          <confirm-button class="btn"></confirm-button>
        </li>
      </ul>
    </article>
  </div>
</template>

<script>
  import CommonHeader from '../components/header.vue'
  import ConfirmButton from '../components/confirm_button.vue'
  import ListSelect from '../components/list_select.vue'

  import inputMixin from '../input_mixin.js'

  export default {
    name: 'defecation',
    data() {
      return {
        type: "Defecation",
        sizes: ['極小', '小', '中', '大'],
        colors: ['淡黄', '黄褐', '茶', '褐色', '灰', '黒'],
        colorCodes: [{
          key: '淡黄',
          color: 'light-yellow'
        },{
          key: '黄褐',
          color: 'yellowish-brown'
        },{
          key: '褐色',
          color: 'chestnut'
        },{
          key: '茶',
          color: 'brown'
        },{
          key: '灰',
          color: 'grey'
        },{
          key: '黒',
          color: 'black'
        }],
        forms: ['コロコロ', 'バナナ', '泥状']
      }
    },
    components: {
      'common-header': CommonHeader,
      'confirm-button': ConfirmButton,
      'list-select': ListSelect
    },
    mixins: [inputMixin]
  }
</script>

<style lang="scss" scoped>
  div#root{
    article {
      form {
        label{
          font-size: 2vh;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          padding: 0;
          margin: 1vh 0 2vh;

          li {
            flex: 1 0 calc(100%/6 - 16px);
            padding: 0;
            margin: 8px;

            .btn {
              padding: 0;
              margin: 0;
              width: 100%;
            }
          }
        }
      }

      ul.bottom-btn {
        display:flex;
        justify-content: flex-end;
        padding: 0;
        margin: 30px 0;
        height: 7vmax;
        width: 100%;
        list-style: none;

        li {
          flex: 0 0 calc(25% - 16px);
          padding: 0;
          margin: 0 8px;
          height: 100%;

          .btn {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
</style>

<!-- global -->
<style lang="scss">
  div#defecation-root {
    .defecation-form {
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 1vh 0 2vh;

        li {
          flex: 1 0 calc(100%/6 - 16px);
          padding: 0;
          margin: 8px;

          .btn {
            padding: 0;
            margin: 0;
            width: 100%;
          }
        }
      }
    }
  }
</style>
