<template>
  <div id="root">
    <common-header></common-header>

    <article class="input-page">
      <list-select :list="list" class="list-select" type="dosage"></list-select>
      <number-input type="dosage" max="100" min="0" :label="numberInputLabel" class="number-input"></number-input>
      <ul class="bottom-btn">
        <li>
          <confirm-button class="btn"></confirm-button>
        </li>
      </ul>
    </article>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import CommonHeader from '../components/header.vue'
  import NumberInput from '../components/number_input.vue'
  import ListSelect from '../components/list_select.vue'
  import ConfirmButton from '../components/confirm_button.vue'

  import inputMixin from '../input_mixin.js'

  export default {
    name: 'Dosage',
    data() {
      return {
        numberInputLabel: '投薬量(滴)',
        type: 'Dosage',
        list: ['ラキソベロン', 'プルゼニド']
      }
    },
    computed: {
      ...mapState([
        "postData"
      ])
    },
    components: {
      'common-header': CommonHeader,
      'number-input': NumberInput,
      'list-select': ListSelect,
      'confirm-button': ConfirmButton
    },
    mixins: [inputMixin],
    created() {
      const unwatch = this.$store.watch(
        state => state.postData.kind,
        authed => {
          this.numberInputLabel = this.postData.kind === 'プルゼニド' ? '投薬量(錠)' : '投薬量(滴)'
        }
      )
    }
  }
</script>

<style lang="scss" scoped>
  div#root {
    article {
      display: flex;
      flex-direction: column;
      align-items: center;

      .number-input{
        width: 100%;
      }

      .list-select{
        width: 100%;
      }

      ul.bottom-btn {
        display:flex;
        justify-content: flex-end;
        padding: 0;
        margin: 30px 0;
        height: 7vmax;
        width: 100%;
        list-style: none;

        li {
          flex: 0 0 calc(25% - 16px);
          padding: 0;
          margin: 0 8px;
          height: 100%;

          .btn {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
</style>
