<template>
  <div id="root">
    <common-header></common-header>

    <article class="input-page">
      <number-input type="mealStaple" max="10" min="0" label="主食" class="number-input"></number-input>
      <number-input type="mealSide" max="10" min="0" label="副食" class="number-input"></number-input>
      <ul class="bottom-btn">
        <li>
          <confirm-button class="btn"></confirm-button>
        </li>
      </ul>
    </article>
  </div>
</template>

<script>
  import CommonHeader from '../components/header.vue'
  import NumberInput from '../components/number_input.vue'
  import ConfirmButton from '../components/confirm_button.vue'

  import inputMixin from '../input_mixin.js'

  export default {
    name: 'Meal',
    data() {
      return {
        type: 'Meal'
      }
    },
    components: {
      'common-header': CommonHeader,
      'number-input': NumberInput,
      'confirm-button': ConfirmButton
    },
    mixins: [inputMixin]
  }
</script>

<style lang="scss" scoped>
  div#root {
    article {
      display: flex;
      flex-direction: column;
      align-items: center;

      .number-input {
        width: 100%;
      }

      ul.bottom-btn {
        display:flex;
        justify-content: flex-end;
        padding: 0;
        margin: 30px 0;
        height: 7vmax;
        width: 100%;
        list-style: none;

        li {
          flex: 0 0 calc(25% - 16px);
          padding: 0;
          margin: 0 8px;
          height: 100%;

          .btn {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
</style>
