<template>
  <div id="root">
    <label>カテゴリ選択</label>
    <ul>
      <li v-for="(category, index) in categories" :key=category.name tappable>
        <v-ons-button
          class="btn"
          v-on:click="pressData"
          >
          <router-link
            class="link btn-text"
            :to="'/' + category.id + '/' + $route.params.id"
            >
            {{category.name}}
          </router-link>
        </v-ons-button>
      </li>
    </ul>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    name: 'newInput',
    data() {
      return {
        categories: [
          {
            name: '血圧',
            id: 'blood-pressure'
          },{
            name: '体温',
            id: 'body-temperature'
          },{
            name: '食事',
            id: 'meal'
          },{
            name: '水分',
            id: 'hydrate'
          },{
            name: '排便',
            id: 'defecation'
          },{
            name: '投薬',
            id: 'dosage'
          },{
            name: '排尿',
            id: 'urinate'
          }
        ]
      }
    },
    methods: {
      ...mapMutations([
        "changeNewFlag"
      ]),
      pressData() {
        this.changeNewFlag(true)
      }
    }
  }
</script>

<style lang="scss" scoped>
  label {
    margin: 0;
    font-size: 3vh;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;

    li {
      width: 46%;
      padding: 0 2%;

      .btn {
        width: 100%;
        padding: 8px 0;
      }
    }
  }
</style>
