<template>
  <div id="root">
    <common-header :name="name" />

    <article>
      <section id="select-operation">
        <ul>
          <li v-for="(operation, index) in operations" :key="operation.name" tappable>
            <v-ons-button class="btn toggle-operation" v-bind:class="{'is-active': selectedOperation === operation.id}" v-on:click="selectedOperation = operation.id">
              <div class="btn-text">{{operation.name}}</div>
            </v-ons-button>
          </li>
        </ul>
      </section>
      <section id="select-data">
        <new-input v-if="selectedOperation === operations[0].id"></new-input>
        <update-input v-else></update-input>
      </section>
    </article>
  </div>
</template>

<script type="text/javascript">
  import commonHeader from '../components/header'
  import newInput from './new_input'
  import updateInput from './update_input'

  export default {
    name: 'SelectOperation',
    data() {
      return {
        name: '入所者名',
        operations: [
          {
            id: 'new',
            name: '入力'
          },{
            id: 'update',
            name: '変更'
          }
        ],
        selectedOperation: 'new'
      }
    },
    components: {
      'common-header': commonHeader,
      'new-input': newInput,
      'update-input': updateInput
    }
    // created() {
    // },
    // methods: {
    // }
  }
</script>

<style lang="scss" scoped>
  article {
    section#select-operation {
      margin: 0 0 5vh 0;

      ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;

        .toggle-operation {
          width: 100%;
        }
      }
    }

    section#select-data {
      flex-shrink: 1;
      height:100%;
    }
  }
</style>
