<template>
  <div id="root">
    <article>
      <h1>IPアドレス・ポート番号設定</h1>
      <h2>IPアドレス</h2>
      <ip-address-input placeholder="IPアドレスを入力" />
      <h2>ポート</h2>
      <v-ons-input class="input" placeholder="ポート番号を入力" v-model="PORT" />
    </article>
    <footer>
      <v-ons-button class="btn">
        <router-link to="/" class="link btn-text">Top</router-link>
      </v-ons-button>
    </footer>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'

  import IPAddressInput from '../components/ip_address_input'

  export default {
    name: 'SetIP',
    data() {
      return {
      }
    },
    computed: {
      PORT: {
        get() {
          return this.$store.state.PORT
        },
        set(value) {
          this.savePORT(value)
        }
      }
    },
    components: {
      'ip-address-input': IPAddressInput
    },
    created() {
    },
    methods: {
      ...mapActions ([
        'savePORT'
      ])
    }
  }
</script>

<style lang="scss" scoped>
  div#root {
    article {
      margin: 10vh 15vw 0;
      height: 90vh;
      width: 100vw - (15vw * 2);
      font-size: 2em;

      .input {
        border: solid 1px;
      }
    }

    footer {
      position: fixed;
      bottom: 5vh;
      display: flex;
      flex-direction: row-reverse;
      height: 8vh;
      width: 100vw;

      .btn {
        margin: 0 5vw;
        height: 100%;
        width: 20vw;
      }
    }
  }
</style>

<style lang="scss">
  .input {
    .text-input {
      height: 100%;
      font-size: 1em;
      vertical-align: baseline;
    }
  }
</style>
