<template>
  <div id="root">
    <header>
    </header>
    <article>
      <form>
        <label>
          <v-ons-select v-model="selectedRoom">
            <option :value="allRooms.room_number">全部屋</option>
            <option v-for="room in rooms" :value="room.room_number">{{room.room_number}}</option>
          </v-ons-select>
        </label>
        <v-ons-search-input id="name-search" placeholder="入所者名で検索"></v-ons-search-input>
      </form>

      <ul>
        <li v-for="(resident, index) in residents(selectedRoom)" :key="resident.id">
          <v-ons-button class='btn' modifier="large" v-on:click="focusResident(resident)">
            <router-link class='link btn-text' :to="'/select-operation/' + resident.id">{{resident.name}}</router-link>
          </v-ons-button>
        </li>
        <!-- <li> -->
        <!--   <v&#45;ons&#45;button class='btn' modifier="large"> -->
        <!--     <router&#45;link class='link btn&#45;text' to="/test">component&#45;test</router&#45;link> -->
        <!--   </v&#45;ons&#45;button> -->
        <!-- </li> -->
      </ul>
      <fab></fab>
    </article>
  </div>
</template>

<script type="text/javascript">
  import { mapState, mapGetters, mapMutations } from 'vuex'

  import Fab from '../components/fab.vue'

  export default {
    name: 'Top',
    data() {
      return {
        allRooms: {
          room_number: 'all',
        },
        selectedRoom: 'all'
      }
    },
    computed: {
      ...mapState({
        // residents: state => state.residentsList,
        rooms: state => state.rooms
      }),
      ...mapGetters({
        residents: 'filteringResidents'
      })
    },
    components: {
      'fab': Fab
    },
    created() {
      this.getAllResidents()
      this.getAllRooms()
    },
    methods: {
      ...mapMutations([
        'focusResident'
      ])
    }
  }
</script>

<style lang="scss" scoped>
  header {
    position: fixed;
    top: 32px;
    margin: 0;
    height: 50px;
    width: 100vw;

    .btn.transparent {
      margin: 0;
      margin: 0 32px;
      width: 50px;
      height: 100%;
      background-color: rgba(0 ,0, 0, 0);

      .icon.transparent {
        color: grey;
      }
    }
  }

  article {
    margin: 5vh 10% 0;
    height: 95vh;

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      label {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        min-width: 180px;

        .room-number {
          width: 80%;
          min-width: 140px;
        }
      }

      #name-search {
        margin-top: 16px;
        width: 100%;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      padding: 10vh 0 0;

      li {
        width: 95%;
        padding: 0;
      }
    }
  }
</style>
