<template>
  <div id="root">
    <form>
      <label>入力データ選択</label>
      <div id="select-wrapper">
        <v-ons-select class="select" v-model="selectedOrder" tappable v-on:change="sort">
          <option
          v-for="order in orders"
          :value="order.id"
          :key="order.id"
          >
          {{order.name}}
          </option>
        </v-ons-select>
        <v-ons-select class="select" v-model="selectedRefine" tappable>
          <option
            value="none"
          >
          絞り込み
          </option>
          <option
          v-for="refine in refines"
          :value="refine.id"
          >
          {{refine.text}}
          </option>
        </v-ons-select>
      </div>
    </form>
    <div id="data-list-wrapper">
      <ul>
        <li
        v-for="wasInputDatum in wasInputData"
        :key="wasInputDatum.id"
        >
          <v-ons-button
            class="btn"
            v-on:click="pressData({
              link: wasInputDatum.link,
              id: wasInputDatum.id
            })">
            <router-link
            class="link btn-text"
            :to="'/' + wasInputDatum.link + '/' + $route.params.id"
            >{{wasInputDatum.category}}</router-link>
          </v-ons-button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import { mapMutations, mapActions } from 'vuex'
  import moment from 'moment'

  export default {
    name: 'updateInput',
    data() {
      return {
        wasInputData: [],
        orders: [
          {
            id: 'created',
            name: '入力順'
          },{
            id: 'updated',
            name: '更新順'
          },{
            id: 'categories',
            name: 'カテゴリ順'
          }
        ],
        selectedOrder: 'created',
        refines: [],
        selectedRefine: 'none'
      }
    },
    // components: {
    // },
    created() {
      let categories = [
        {
          name: '血圧',
          id: 'blood_pressure'
        },{
          name: '体温',
          id: 'body_temperature'
        },{
          name: '食事',
          id: 'meal'
        },{
          name: '水分',
          id: 'hydrate'
        },{
          name: '排便',
          id: 'defecation'
        },{
          name: '投薬',
          id: 'dosage'
        },{
          name: '排尿',
          id: 'urinate'
        }
      ]

      for (let cate of categories) {
        this.refines.push({
          id: cate.id,
          text: cate.name
        })
      }

      this.getResidentData(this.resident.id)
        .then((data) => {
          this.wasInputData = data
          this.sort()
        })
    },
    methods: {
      ...mapMutations ([
        "changeNewFlag"
      ]),
      ...mapActions ([
        "getData"
      ]),
      sort() {
        let dateType = this.selectedOrder + "_at"
        if (dateType === "categories_at"){
          // カテゴリ順のソート
          Promise.resolve()
            .then(() => {
              let cate_ids = []
              this.refines.forEach((element) => {
                cate_ids.push(element.id)
              })
              return cate_ids
            })
            .then((cate_ids) => {
              this.wasInputData.sort((a, b) => {
                return cate_ids.indexOf(a.type) - cate_ids.indexOf(b.type)
              })
            })
        } else {
          // 日付ソート
          this.wasInputData.sort((a, b) => {
            if (moment(a[dateType]).isBefore(b[dateType]) || a[dateType] === null) {
              return 1
            } else if (moment(a[dateType]).isSame(b[dateType])) {
              return 0
            } else {
              return -1
            }
          })
        }
      },
      pressData(payload) {
        this.getData(payload).then(() => {
          this.changeNewFlag(false)
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  div#root {
    height: 100%;

    form {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      label {
        margin: 0;
        font-size: 3vh;
      }

      .select {
        margin: 0 0 0 3vw;
      }
    }

    div#data-list-wrapper {
      height: 100%;

      ul {
        padding: 0;
        margin: 0;
        height: 70%;
        width: 100%;
        list-style: none;
        overflow: scroll;

        li {
          padding: 0;
          margin: 0;
          width: 100%;

          .btn {
            width: 100%;
          }
        }
      }
    }
  }
</style>
